[Desktop Entry]
Encoding=UTF-8
Name=PC Information
Exec=inxi-gui
Icon=computer
Terminal=false
Type=Application
Categories=System;antix-util;
NoDisplay=False
